# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log